<div class="xl:mx-20 2xl:mx-60">
  <div class="grid max-w-7xl grid-cols-7 gap-x-12">
    <div class="order-2 col-span-7 xl:order-1 xl:col-span-5">
      <div *ngIf="blogPosts$ | async as blogPosts">
        <div class="flex justify-between">
          <heading>10 Recent Posts</heading>
          <a
            *ngIf="login$ | async"
            [routerLink]="'/new'"
            class="flex cursor-pointer items-center text-white hover:text-accent-400"
          >
            <edit-icon class="w-5 flex-shrink-0"></edit-icon>
          </a>
        </div>

        <ul role="list" class="grid grid-cols-1 gap-4 xl:grid-cols-2">
          <li *ngFor="let post of blogPosts; index as index" class="contents">
            <blog-post *ngIf="index < 10" [blogPost]="post"></blog-post>
          </li>
        </ul>

        <a
          [routerLink]="'list'"
          class="text-md mt-8 flex cursor-pointer items-center gap-1 text-white hover:text-accent-200"
        >
          <right-allow-square-icon
            class="w-5 flex-shrink-0"
          ></right-allow-square-icon>

          <span>Show all</span>
        </a>
      </div>
    </div>

    <div role="navigation" class="order-1 col-span-7 xl:order-2 xl:col-span-2">
      <heading class="mb-4 block">Posts</heading>

      <a
        class="text-md flex cursor-pointer items-center gap-1 text-white hover:text-accent-200"
      >
        <right-allow-square-icon
          class="w-5 flex-shrink-0"
        ></right-allow-square-icon>

        <span [routerLink]="'list'">Show all</span>
      </a>

      <heading class="mt-8 mb-4 block">Tags</heading>
      <ul
        *ngIf="tags$ | async as tags"
        class="flex flex-row flex-wrap gap-x-2 gap-y-4 pb-8 xl:flex-col"
      >
        <li *ngFor="let tag of tags" class="flex-shrink-0">
          <tag [tag]="tag"></tag>
        </li>
      </ul>
    </div>
  </div>
</div>
