<div class="rounded-md bg-white shadow-inner shadow-gray-400">
  <form (submit)="createNewTag($event)">
    <input
      type="text"
      class="w-full border-none shadow-none focus:outline-none"
      placeholder="tag1 tag2"
      (focus)="openDropdown()"
      [formControl]="tagLabel"
      #tagLabelInput
    />
  </form>

  <ng-container *ngIf="selectedTags.length">
    <div class="flex flex-wrap gap-2 p-2">
      <ng-container *ngFor="let tag of selectedTags">
        <button
          (click)="deselect(tag)"
          class="rounded-button-sm rounded-button-accent flex items-center"
        >
          <span>{{ tag.label }}</span>
          <x-icon class="h-3 w-3"></x-icon>
        </button>
      </ng-container>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="suggestedTags.length">
  <div class="absolute my-2 w-1/2 rounded bg-white p-4 shadow-lg">
    <div class="mb-2 flex items-center">
      <p class="flex-1 text-sm font-semibold text-gray-500">Suggested tags</p>
      <x-icon
        class="inline-block h-6 w-6 cursor-pointer text-gray-500 hover:text-gray-700"
        (click)="closeDropdown()"
      ></x-icon>
    </div>
    <div class="flex flex-wrap gap-2">
      <ng-container *ngFor="let tag of suggestedTags">
        <button
          (click)="select(tag)"
          class="rounded-button-sm rounded-button-accent"
        >
          {{ tag.label }}
        </button>
      </ng-container>
    </div>
  </div>
</ng-container>
