<article>
  <a
    [routerLink]="blogPost.link"
    class="flex cursor-pointer flex-col gap-2 rounded-lg bg-gray-800 p-8 hover:bg-gray-700"
  >
    <div>
      <time class="text-sm font-light text-white">{{
        blogPost.updatedAt | date: "yyyy-MM-dd"
      }}</time>
    </div>

    <div class="mb-4 flex items-start gap-1">
      <right-allow-square-icon
        class="w-6 flex-shrink-0 pt-1 text-accent-400"
      ></right-allow-square-icon>
      <p class="h-24 text-2xl font-bold text-accent-400">
        {{ blogPost.title }}
      </p>
    </div>

    <div class="flex gap-1">
      <p
        *ngFor="let tag of blogPost.tags"
        class="min-w-20 rounded-2xl border border-white px-2 py-1 text-center text-xs text-white"
      >
        {{ tag }}
      </p>
    </div>
  </a>
</article>
