<div class="m-6 flex items-start justify-between">
  <a
    [routerLink]="'/'"
    class="text-md hover:text-accent-200 flex cursor-pointer items-center gap-1 text-white"
  >
    <right-allow-square-icon
      class="w-5 flex-shrink-0"
    ></right-allow-square-icon>

    <span>Recent posts</span>
  </a>

  <create-pr-button (onClick)="onCreatePrButtonClick()"></create-pr-button>
</div>

<div class="m-6 grid grid-cols-1 gap-6 xl:grid-cols-2">
  <div class="rounded-md border border-gray-800 p-6 shadow-2xl">
    <new-post-editor
      [title]="blogPost.title"
      [body]="blogPost.body"
      [tags]="blogPost.tags"
      (changeTitle)="onChangeTitle($event)"
      (changeBody)="onChangeBody($event)"
      (selectTag)="onSelectTag($event)"
      (deselectTag)="onDeselectTag($event)"
      (addTag)="onAddTag($event)"
    ></new-post-editor>
  </div>

  <div class="rounded-md border border-gray-800 p-6 shadow-2xl">
    <new-post-viewer
      [updatedAt]="blogPost.updatedAt"
      [title]="blogPost.title"
      [body]="blogPost.bodyAsHtml"
    ></new-post-viewer>
  </div>
</div>
