<div class="m-6 flex justify-between items-start">
  <a
    [routerLink]="'/'"
    class="flex items-center gap-1 text-white cursor-pointer text-md hover:text-accent-200"
  >
    <right-allow-square-icon
      class="flex-shrink-0 w-5"
    ></right-allow-square-icon>

    <span>Recent posts</span>
  </a>

  <create-pr-button (onClick)="onCreatePrButtonClick()"></create-pr-button>
</div>

<div class="grid grid-cols-1 xl:grid-cols-2 gap-6 m-6">
  <div class="border border-gray-800 rounded-md p-6 shadow-2xl">
    <new-post-editor
      [title]="blogPost.title"
      [body]="blogPost.body"
      (onChangeTitle)="onChangeTitle($event)"
      (onChangeBody)="onChangeBody($event)"
    ></new-post-editor>
  </div>

  <div class="border border-gray-800 rounded-md p-6 shadow-2xl">
    <new-post-viewer
      [updatedAt]="blogPost.updatedAt"
      [title]="blogPost.title"
      [body]="blogPost.bodyAsHtml"
    ></new-post-viewer>
  </div>
</div>
