<div>
  <div class="mb-6">
    <input
      type="text"
      class="w-full"
      placeholder="サンプルタイトル"
      (keyup)="onChangeTitle.emit(titleElement.value)"
      #titleElement
    />
  </div>

  <div class="mb-6">
    <tag-selector [tags]="tags"></tag-selector>
  </div>

  <div>
    <div class="mb-2">
      <snippet-buttons (onSelect)="onSnippetSelected($event)"></snippet-buttons>
    </div>
    <textarea
      class="h-[500px] w-full"
      placeholder="本文"
      (keyup)="onChangeBody.emit(bodyElement.value)"
      #bodyElement
    ></textarea>
  </div>
</div>
