<div>
  <div class="mb-6">
    <input
      type="text"
      class="w-full"
      placeholder="XXXについての学び"
      (keyup)="changeTitle.emit(titleElement.value)"
      #titleElement
    />
  </div>

  <div class="mb-6">
    <tag-selector
      [tags]="tags"
      (selectTag)="onSelectTag($event)"
      (deselectTag)="onDeselectTag($event)"
      (addTag)="onAddTag($event)"
    ></tag-selector>
  </div>

  <div>
    <div class="mb-2">
      <snippet-buttons
        (selectSnippet)="onSelectSnippet($event)"
      ></snippet-buttons>
    </div>
    <textarea
      class="h-[500px] w-full"
      placeholder="学んだこと"
      (keyup)="changeBody.emit(bodyElement.value)"
      #bodyElement
    ></textarea>
  </div>
</div>
