@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-okaidia';

:root {
  font-size: 15px;
  --font-color: #272822;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    
  padding-top: 5rem;
  background-color: #545454;
  color: var(--font-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #4c4b4b;
  color:#f9e808;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: 15% 70% 15%;

  [role="navigation"] {
    padding: 1em;
    color: #272822;
    font-weight: 600;
  }

  [role="main"] {}
}

h1 {
  padding-bottom: 1.5em;
  font-weight: 700;
  font-size: 170%;
  color: #272822;
  margin-block-start: 0.4em;
}

h2 {
  border-bottom: solid 1px var(--font-color);
  padding: 0.5em 0;
  font-size: 140%;
}

h3 {
  font-size: 140%;
}

::marker {
  font-size: 1.2em;
}

[role="heading"] {
  a {
    color: #f9e808;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: #e2aa07;
      cursor: pointer;
    }
  }

  svg {
    width: 1.5rem;
    &:hover {
      color: #ffffff;
      cursor: pointer;
    }
  }
}

[role="list"] {
  list-style: none;

  li {
    border-radius: 5px;
    padding: 0.8em;

    &:hover {
      cursor: pointer;
      background: #5f5f5f;
    }
    time {
      color: #838d8f;
      font-size: 80%;
      margin-bottom: 0.5em;
    }
    a {
      font-size: 100%;
      font-weight: 600;
      color: #272822;
      text-decoration: none;
      display: block;
      margin-bottom: 0.2rem;
    }
    .tag {
      background: #313435;
      padding: 0.2rem 0.5rem;
      font-size: 0.8rem;
      color: #545454;
      border-radius: 5px;
      margin: 0.2rem 0.2rem 0 0;
    }
  }
}

footer {
  height: 5.5rem;
  width: 100%;
  background-color: #4c4b4b;
  font-weight: 500;
  padding: 2rem 0 1rem 0;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  color: #d8d88d;

  div {
    height: 1.8rem;
  }
  a {
    color: #d8d88d;
  }
  a:hover {
    color: #f9e808;
  }
  svg {
    font-size: 1.5rem;
    width: 2rem;
  }
  [data-url]:hover::after {
    content: attr(data-url) "";
    position: absolute;
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: -1.6rem;
    margin-left: -2rem;
  }
}
