@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/themes/prism-okaidia';

html {
  font-size: 15px;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    
  padding-top: 5rem;
  background-color: #545454;
  color: rgb(255, 251, 251);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  background-color: #4c4b4b;
  color:#f9e808;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.sidebar {
  padding: 1em;
  color: #272822;
  font-weight: 600;
}

.content {
}

h1 {
  padding-bottom: 1.5em;
  font-weight: 700;
  font-size: 170%;
  color: #272822;
  margin-block-start: 0.4em;
}

h2 {
  border-bottom: solid 1px #ffffff;
  padding: 0.5em 0;
  font-size: 140%;
}

h3 {
  font-size: 140%;
}

::marker {
  font-size: 1.2em;
}

svg {
  width: 1.5rem;
  &:hover {
    color: #ffffff;
    cursor: pointer;
  }
}

a {
  color: #f9e808;
  font-weight: 500;
  &:hover {
    color: #e2aa07;
    cursor: pointer;
  }
}
