<div class="flex gap-2">
  <button class="button-sm button-white-outline" (click)="onSelectH1()">
    H1
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectH2()">
    H2
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectH3()">
    H3
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectList()">
    List
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectBold()">
    Bold
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectCode()">
    Code
  </button>
  <button class="button-sm button-white-outline" (click)="onSelectCodeBlock()">
    CodeBlock
  </button>
</div>
