<div class="flex">
  <button
    class="group-button-sm group-button-white-outline first"
    (click)="onSelectH1()"
  >
    H1
  </button>
  <button
    class="group-button-sm group-button-white-outline"
    (click)="onSelectH2()"
  >
    H2
  </button>
  <button
    class="group-button-sm group-button-white-outline"
    (click)="onSelectH3()"
  >
    H3
  </button>
  <button
    class="group-button-sm group-button-white-outline"
    (click)="onSelectList()"
  >
    List
  </button>
  <button
    class="group-button-sm group-button-white-outline"
    (click)="onSelectBold()"
  >
    Bold
  </button>
  <button
    class="group-button-sm group-button-white-outline"
    (click)="onSelectCode()"
  >
    Code
  </button>
  <button
    class="group-button-sm group-button-white-outline last"
    (click)="onSelectCodeBlock()"
  >
    CodeBlock
  </button>
</div>
