<div class="flex">
  <button
    class="group-button-sm group-button-white first"
    (click)="onSelectH1()"
  >
    H1
  </button>
  <button class="group-button-sm group-button-white" (click)="onSelectH2()">
    H2
  </button>
  <button class="group-button-sm group-button-white" (click)="onSelectH3()">
    H3
  </button>
  <button class="group-button-sm group-button-white" (click)="onSelectList()">
    List
  </button>
  <button class="group-button-sm group-button-white" (click)="onSelectBold()">
    Bold
  </button>
  <button class="group-button-sm group-button-white" (click)="onSelectCode()">
    Code
  </button>
  <button
    class="group-button-sm group-button-white last"
    (click)="onSelectCodeBlock()"
  >
    CodeBlock
  </button>
</div>
