<footer>
  <div>Hosted by</div>
  <a
    target="_blank"
    href="https://github.com/ringtail003/til"
  >
    <span data-url="https://github.com/ringtail003/til">
      <logo-github-icon></logo-github-icon>
    </span>
  </a>
  <a
    target="_blank"
    href="https://angular.jp/"
  >
    <span data-url="https://angular.jp/">
      <logo-angular-icon></logo-angular-icon>
    </span>
  </a>
  <a
    target="_blank"
    href="https://scully.io/"
  >
    <span data-url="https://scully.io/">
      <logo-scully-icon></logo-scully-icon>
    </span>
  </a>
  <a
    target="_blank"
    href="https://github.co.jp/features/actions"
  >
    <span data-url="https://github.co.jp/features/actions">
      <logo-github-actions-icon></logo-github-actions-icon>
    </span>
  </a>
  <a
    target="_blank"
    href="https://firebase.google.com/?hl=ja"
  >
    <span data-url="https://firebase.google.com/?hl=ja">
      <logo-firebase-icon></logo-firebase-icon>
    </span>
  </a>
</footer>
