<div class="flex gap-2">
  <button class="button-sm button-white-outline" (click)="onInsertH1()">
    H1
  </button>
  <button class="button-sm button-white-outline" (click)="onInsertH2()">
    H2
  </button>
  <button class="button-sm button-white-outline" (click)="onInsertH3()">
    H3
  </button>
  <button class="button-sm button-white-outline" (click)="onInsertList()">
    List
  </button>
  <button class="button-sm button-white-outline" (click)="onInsertCode()">
    Code
  </button>
</div>
