<div *ngIf="blogPost" class="xl:mx-20 2xl:mx-60">
  <div class="flex items-center justify-between">
    <div>
      <time class="text-sm text-accent-400">{{
        blogPost.updatedAt | date: "yyyy-MM-dd"
      }}</time>
      <heading>{{ blogPost.title }}</heading>
    </div>
    <a
      [routerLink]="'/'"
      class="text-md flex cursor-pointer items-center gap-1 text-white hover:text-accent-200"
    >
      <right-allow-square-icon
        class="w-5 flex-shrink-0"
      ></right-allow-square-icon>

      <span>Recent posts</span>
    </a>
  </div>

  <article class="scully-content rounded-lg bg-gray-800 p-8 text-white">
    <scully-content></scully-content>
  </article>
</div>
